@charset "utf-8";
*{ margin:0; padding:0;}
.big_div{ width:1200px; height:auto; margin:auto; border:1px solid #666;}
iframe{ width:1200px; height:200px; border:none;}
	.meseage{ width:100%; height:60px; float:left; background-color:#CCC;border:1px solid #333;  }
	.meseage p{ height: 40px; float: left;font-size: 16px; color:#FFCCFF; margin: 10px 0 0 10px;}
.meseage p span{font-size: 18px; color: #333333;}
	.sereach{ width:100%; height:100px; float:left; position:relative; background-color:#CFF;border:1px solid #333; }
		.sereach .ss{ width:600px; height:100px;position:absolute; left:600px; top:30px; border:none; font-size:18px;}
			#txt_ss { padding:10px;}
			#btn_ss { padding:10px;}
			a:hover{ cursor:pointer;}
			
	.content{ width:100%; height:auto; float:left;}	/*导航栏*/
		.nav_top{ height:60px; width:100%; text-align:center; background-color:#CFF;  border:1px solid #666;}
			 ul{margin:0 auto;}
			 li{ list-style:none; padding-top:10px;  }
			 li:hover{ cursor:pointer; background-color:#FFC;}
			.li1{  height:50px; width:150px;float:left; position:relative; font-size:1.25em;}
			.div1{ height:auto; width:150px; border:none;  background-color:#CCC; position:absolute; overflow:hidden;margin-top:20px; display:none; z-index:2;}
			.div1 li{ height:40px; border-top:1px dashed #666666; font-size:0.8em; }
.content a{text-decoration: none; color: #333333;}
.content a:hover{text-decoration: underline;}

.content_md{height:80px ;width:100%; float:left; margin-top:5px;border:1px solid #333; }
.content_md	 p{ font-size:1.5em; margin-top:10px; margin-left:10px;}

.shop_cart{height:auto ;width:1200px; min-height:600px; float:left; border:1px solid #333; z-index: 1;}
.shop_cart #nav_top{width: 1200px;height: 60px; float: left; border-bottom:1px solid #333; }
.shop_cart #nav_top p{width: 100px; height:40px; float: left; margin-left:20px; padding-top:20px;}
.shop_cart p { width: 100px; height: 100px; text-align: center;
	padding-top: 30px; margin-left: 10px;word-break: break-all;
	float: left; color: #FF9900; font-weight: bold; font-size: 16px; font-family: arial; }
.shop_cart img{width: 100px; height: 100px; float: left;}
.shop_cart #record_lt{width: 350px; height: auto; float: left;}
.shop_cart #record_lt .record_lt_div{ width: 350px;height: 120px; float: left;}
.shop_cart #record_md{width: 120px; height: auto; float: left;}
.shop_cart #record_md .record_md_div{ width: 120px;height: 120px; float: left;}
.shop_cart #record_rt{width: 240px; height: auto; float: left;}
.shop_cart #record_rt .record_rt_div{ width:240px;height: 120px; float: left;}
.shop_cart #record_last{width:480px; height: auto; float: left;}
.shop_cart #record_last .record_last_div{width: 480px; height:120px; float: left;}
.shop_cart #record_last .record_last_div .btn{font-size:18px; cursor:pointer;}