@charset "utf-8";
*{ margin:0; padding:0;}
div{ border:1px solid #333;  }
#wrap_big{width:1200px; height:1000px;margin:auto;margin-top:5px; position:relative; background-color:#FFC;}
.div1{ height:100px ;width:100%; float:left;}
.div1 p{ font-size:1.5em; margin-top:50px; margin-left:10px;}
.inform{ width:60%; height:500px; float:left; margin-left:20%; padding:20px; font-size:1.0em;}
.inform input{ font-size:1.25em; background-color:#CCC; margin:20px; }
.inform label{font-size:1.25em; margin-left:20px;}
.inform p{ font-size:1.25em; margin-left:100px;}