<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="css/lib_pwd.css" />
<script type="text/javascript" src="javaScript/lib_pwd.js"></script>
<title>修改密码</title>
</head>

<body>
<div class="wrap_big">
  <div class="div1">
        <p>修改密码</p>
  </div>
    <div class="inform">
   		<form action="#" method="post" enctype="multipart/form-data" id="lib_pwd_cg" >
        	<p>原密码：<input type="text" id="lib_pwd" name="lib_password" size="20" /></p>
        	<p>新密码：<input type="password" id="lib_pwd1" name="lib_password1" size="20" /></p>
            <p>新密码：<input type="password" id="lib_pwd2" name="lib_password2" size="20" /></p>
            <p><input type="submit" value="确认"  style="margin-left:150px;"/></p>
        </form> 
  </div>
  <iframe src="foot.html" scrolling="no" marginheight="0" marginwidth="0"></iframe>
</div>
</body>
</html>
