<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="multipart/form-data; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="css/password_change.css" th:href="@{/css/password_change.css}" />
<script type="text/javascript" src="javaScript/password_change.js" th:src="@{/javaScript/password_change.js}"></script>
<title>修改密码</title>
</head>

<body>
<div id="wrap_big">
  <div class="div1">
        <p>修改密码</p>
  </div>
    <div class="inform">
   		<form th:action="@{/change_pw}" method="post" enctype="multipart/form-data" id="form_ifm" >
        	<p>原密码：<input type="text" id="txt_password" name="password" size="20" /></p>
        	<p>新密码：<input type="text" id="txt_password1" name="pw1" size="20" /></p>
            <p>新密码：<input type="text" id="txt_password2" name="pw2" size="20" /></p>
            <p><input id="btn" type="submit" value="确认"  style="margin-left:150px;"/></p>
            <span th:text="${CPMsg}"></span>
        </form> 
  </div>
  <iframe src="foot.html" scrolling="no" marginheight="0" marginwidth="0"></iframe>
</div>
</body>
</html>
