<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<link rel="stylesheet" type="text/css" href="sousuo.css" />
</head>

<body>
<div style="width:1400px; height:auto; margin:auto"; >
<div id="div1">
<a class="lt" href="http://www.baidu.com/" target="_blank">登录</a> 
<a class="lt" href="http://www.baidu.com/" target="_blank">注册</a> 
<a class="lt" href="http://www.baidu.com/" target="_blank">返回网站首页</a> 
<a  class="rt" href="http://www.baidu.com/" target="_blank">联系客服</a> 
<a class="rt"  href="http://www.baidu.com/" target="_blank">购物车</a> 
<a class="rt" href="http://www.baidu.com/" target="_blank">我的订单</a> 
</div>
<div id="div2">
<div class="pic"></div>
<div class="ss">
<form id="form1"  action="" method="get" enctype="multipart/form-data">
<input id="txt1" type="text" size="60"  name="stm" placeholder="请输入想要查询的内容"/>
<input id="bnt1" type="submit" value="搜索" />
</form>
</div>
</div>
</div>
</body>
</html>
